*{
    margin:0;
}

:root{
    --footer:#222222;
}

#site_main{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content:center;
    width:100%;
    height:90vh;
    background-color: black;
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:90vw;
    height:80vh;
    /* background-color: red; */
}

.row{
    display: flex;
    width:100%;
    height:calc(100%/5);
}

.column{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    /* border:1px solid white; */
    width:calc(100%/7);
    padding-right:0.2vw;
    padding-left:0.2vw;
    padding-bottom:1vh;
}

.column img{
    width: 100%;
    height:100%;
}

.user{
    position:absolute;
    bottom:1.3vh;
    left:0.2vw;
    color:white;
    font-family: sans-serif;
    background-color: rgba(128, 128, 128, 0.806);
    font-size:1.8vh;
    padding:0.4vh;
}

#site_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer);
    height:10vh;
    width:100vw;
}

.audio_video{
    display: flex;
    border:1px solid black;
    width:8%;
}

.room_actions{
    border:1px solid black;
}

.end_meeting{
    border:1px solid black;
}

/* utility for all buttons */

.buttons{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    color:white;
    list-style: none;
    font-size: 1.5rem;
}

.buttons_text{
    width:100%;
    position:absolute;
    top:2rem;
    font-size:0.4rem;
}