*{
    margin:0;
}

:root{
    --footer:#222222;
    --borders:#474747ce;
}

#site_header{
    display: flex;
    position:relative;
    justify-content: flex-end;
    width:100%;
    height:4vh;
    background-color: black;
}

.navigate{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding:1vh;
    font-family: sans-serif;
    font-size:1.8vh;
}

.navigate_parts{
    padding:0.5vh;
    margin-right:0.5vh;
    border-radius: 5px;
    color:white;
    background-color: var(--borders);
}

#site_main{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content:center;
    width:100%;
    height:88vh;
    background-color: black;
}

#site_footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--footer);
    height:8vh;
    width:100vw;
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:70vw;
    height:80vh;
}

.row{
    display: flex;
    width:100%;
    height:calc(100%/5);
}

.column{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    width:calc(100%/7);
    padding-right:0.2vw;
    padding-left:0.2vw;
    padding-bottom:1vh;
}

.column img{
    width: 100%;
    height:100%;
}

.user{
    position:absolute;
    bottom:1.3vh;
    left:0.2vw;
    color:white;
    font-family: sans-serif;
    background-color: var(--borders);
    font-size:1.8vh;
    padding:0.4vh;
}

.audio_video{
    display: flex;
}

/* utility for all buttons */

.buttons{
    display: flex;
    gap:2vh;
    margin:1vh;
    color:white;
    list-style: none;
    text-align: center;
    padding:0;
}

.buttons i{
    font-size:2.8vh;
}

.buttons p{
    width:100%;
    font-family: sans-serif;
    line-height: 3vh;
    font-size:1.5vh;
}

#end_meeting{
    color:red;
    background-color: var(--borders);
}

#chevron{
    font-size:1.2vh;
}

#share_screen{
    color:yellow;
}

