*{
    margin:0;
}

#site_main{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content:center;
    width:100%;
    height:90vh;
    background-color: black;
}

.container{
    display:flex;
    width:90vw;
    height:80vh;
    background-color: red;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* height:calc(100%/7); */
    /* width:calc(100%/5); */
}

.column{
    display: flex;
    width:calc(100%/7);
    height:calc(100%/5);
}

#site_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height:10vh;
    width:100vw;
}

.audio_video{
    display: flex;
    border:1px solid black;
    width:8%;
}

.room_actions{
    border:1px solid black;
}

.end_meeting{
    border:1px solid black;
}

/* utility for all buttons */

.buttons{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    color:white;
    list-style: none;
    font-size: 1.5rem;
}

.buttons_text{
    width:100%;
    position:absolute;
    top:2rem;
    font-size:0.4rem;
}